/* App.module.css */

.grid {
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
  padding: 20px;
}

/* Адаптация для мобильных устройств */
@media (max-width: 768px) {
  .grid {
    padding: 10px;
  }
}