/* App.module.css */

/* Общие настройки для сетки */
.grid {
  display: grid;
  grid-template-columns: 1fr; /* Задаем одну колонку, чтобы контент был в центре */
  justify-items: center; /* Центрируем элементы по горизонтали */
  align-items: center; /* Центрируем элементы по вертикали */
  height: 100vh; /* Задаем высоту на весь экран */
  margin: 0; /* Убираем отступы */
  padding: 20px; /* Паддинг для внутреннего отступа */
}
